body,h3{
    font-family: cursive;
}

.reel{
    text-align: -webkit-center;
}

.visible{
    display: block!important
}

#reel-container{
    overflow: hidden;
}
.hidden{
    display:none!important;
}
.reel-symbol{
    display:block;
    width: 100%;
    margin-top:10%;
    margin-bottom: 10%;
}
#top-area{
    padding: 20px
}

.logo{
    width:50%;
    text-align: center
}
#logo-div{
    text-align: right
}
.cl-small{
	font-size:50;
}

.cl-medium{

}

.cl-large{

} 

.background-color{
    background-image: url("../img/background.png");
}
.nomalFont{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.cursive{
	font-family: cursive!important;
}

.textShadow{
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.screen-middle{
	margin: auto;
    text-align: center;
    top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
}
.width-50{
    width: 50%;
}
.width-70{
    width: 70%;
}

@media (max-width: 400px){
    #reel-container{
        height: 40vh;
    }
    .reel-symbol{
        width: 100%;
    }
}
@media (max-width: 601px){
    #reel-container{
        height: 40vh;
    }
    .reel-symbol{
        width: 100%;
    }
}
@media (min-width: 602px){
    #reel-container{
        height: 40vh;
    }
    .reel-symbol{
        width: 100%;
    }
}

@media (min-width: 802px){
    #reel-container{
        height: 400px;
    }
    .reel-symbol{
        width: 80%;
    }
}

@media (min-width: 1000px){
    #reel-container{
        height: 420px;
    }
    .reel-symbol{
        width: 80%;
    }
}

@media (min-width: 1200px){
    #reel-container{
        height: 500px;
    }
    .reel-symbol{
        width: 70%;
    }
}

.interactable{
    position: fixed ;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 1000;
    background: white;
    opacity: 0.1;
    display: none;
}

#debug_area{
    position: fixed ;
	top:0;
	bottom: 0;
	right: 0;
    z-index: 1000;
    background: white;
    opacity: 0.9;
    display: none;
    overflow: scroll;
}

#gameSetToRandomMode,#gameSetToFixedMode{
    display:none
}